<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>Stem Webserver Power Management</title>
  </head>
  <body>
      <h1>Stem Power Management</h1>
      {% for dose in dosen %}
      <p>The {{ dosen[dose].name}}
      {% if dosen[dose].status == true %}
	is currently off
      {% else %}
	is currently on
      {% endif %}
      </p>
      {% endfor %}
      
      {% if buttonState == False %}      
      <a href="/on"> <button> switch on Cluster </button></a>
      <br></br>
      {% else %}
      <a href="/off"> <button> switch off Cluster </button></a>
      <br></br>
      {% endif %}
      {% if response %}
      {{ response }}
      {% endif %}
  </body>
</html>
